/**------------------------------------------------------------------
[Table of Contents]

1. Starter Template
2. waitList.html /#waitList
    2a. waitList forms /#wlforms
3. landing.html
------------------------------------------------------------------**/

/* Starter template */

body {
    padding-top: 80px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.starter-template h1 {
    font-size: 63px;
}

/* #waitList */


/* #waitList forms */

.party-form {
    margin-bottom: 20px;
}
